
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
h1{
    font-weight: bold;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
    color: rgb(255, 255, 255);
    font-size:2cm;
    text-align: center;
}
a{
    font-weight:100;
    font-size: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
    color: rgba(46,2,73,1);
    font-size:0.5cm;
    text-align: center;
}

body{
    background: rgb(46,2,73);
    background: linear-gradient(293deg, rgba(46,2,73,1) 0%, rgba(87,10,87,1) 53%, rgba(169,16,121,1) 76%, rgba(248,6,204,1) 100%);
}