
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /*background-color: red;*/
}

.container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
    height: 30%;
    /*background-color: red;*/
    padding:2%;
}

.container3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
    height: 100%;
    background-color: white;
    padding:3%;
    margin: 0%;

}

h1{
    font-weight: 500;
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-size:2cm;
    text-align: center;
    margin: 0ch;
}

h2{
    font-weight: 300;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-size:1cm;
    text-align:center;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 20%;
    margin-right: 20%;
}

h3{
    font-weight: 500;
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-size:2cm;
    text-align: left;
    margin: 0ch;
    margin-top: 10%;
    margin-bottom: 3%;
    padding: 1%;
}

h4{
    font-weight: 300;
    color: #2E0249;
    font-size:1.2cm;
    text-align:left;
    margin-top: 1%;
}


h5{
    font-weight: 300;
    color: #2E0249;
    font-size:0.5cm;
    text-align:left;
    
    margin-top: 0%;
}

h6{
    text-decoration: underline;
    font-weight: 300;
    color: #2E0249;
    font-size:0.5cm;
    text-align:left;
    margin-top: 0%;
}

a{
    text-decoration: none;
    font-weight:300;
    color: rgba(46,2,73,1);
    font-size:0.6cm;
    text-align: left;
    margin: 15px;
    margin-bottom: 10px;
    margin-right: 2%;
    margin-left: 0%;
}

html,body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background: rgb(46,2,73);
    background: linear-gradient(293deg, #2E0249 0%, #570A57 53%, #A91079 76%, rgba(248,6,204,1) 200%);
}

header{
    top:0cm;
    width: 100%;
    min-height: 3rem;
    max-height: 3rem;
    position: fixed; 
    background-color: white;
}

.navbar{
    display: flex;
    align-items:center;
    flex: auto;
    background-color: white;
    padding: 10px;
    margin: 0cm;
}

img{
    max-width: 100%;
    max-height: 100%;
    height: 40px;
    width: 40px;
    margin-right: 1.9%;
    margin-left: 1.2%;
}

img.img1{
    max-width: 100%;
    max-height: 100%;
    height: 40px;
    width: 40px;
    margin-right: 1.9%;
    margin-left: 1.2%;
}

img.img2{
    height: 100%;
    width: 100%;
    margin: 1%;
    margin-left: 0%;
}
